#title{
    position:static;
    top:2vh;
    font-size:32px;
}
.container-fluid{
    border:1px solid black;
}
.col-4{
    text-align:center;
}
.row{
    margin-left:0px;
}
.bg-grey{
    background-color: #eee;
}
.player{
    display:inline-block;
}
.thumb{
    position: relative;
    height: 90px;
    width: 160px;
    background-size: contain;
}
.play{
    background: #536778;
    border-radius: 50% / 10%;
    color: #ffffff;
    font-size: 0.5em;
    height: 3em;
    padding: 0;
    position: absolute;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play::before{
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
}
.play::after{
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: " ";
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}
.play:hover{
    background-color: orange;
}
.list-entry{
    width:min(684px, 96vw);
    margin-left: max(0px, calc(48vw - 342px));
    display:flex;
}
h1{
    font-size:min(4vw, 35px);
}
h5{
    font-size:min(2.5vw, 20px);
}
#info-button{
    position: absolute;
    top:15px;
    right:15px;
}
#team-button{
    position:absolute;
    top:15px;
    right:65px;
}
a{
    color:black;
}
.col-4 > a{
    text-decoration: none;
}
.col-4 > a:hover{
    cursor: pointer;
    color:darkgray;
}
h1{
    font-size: min(30px, 6vw);
}
h1:hover{
    cursor: pointer;
}
.video-container {
    display:flex;
    justify-content:center;
}
table{
    width:100%;
}
.name{
    width:60%;
}
.detail{
    width:20%;
}
.ratio-16-9{
    height:100px;
    width:270px;
    background-repeat: no-repeat;
}
#statsbutton{
    position:fixed;
    bottom:25px;
    right:25px;
    border-radius: 50%;
    height: calc(8px + min(60px, 12vw));
    width: calc(8px + min(60px, 12vw));
}
#stats-viewer{
    max-height:calc(100vh - 220px);
    border:1px solid;
    overflow:scroll;
}
.user-points:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.fa-trophy{
    font-size:min(30px, 6vw);
}
